
# Performance And Costing Analysis of Ergo Node

## Introduction
This notebook uses `Metrics.sqlite` database collected during full node syncronization.
See `README.md` for detail of database schema.


## Setup
If necessary uncomment and run the following commands to setup necessary packages.

In [1]:
#!pip install ipython-sql
#!pip install jupyter_contrib_nbextensions
#!jupyter contrib nbextension install --user
!jupyter nbextension enable python-markdown / main

Please specify one nbextension/package at a time

In [2]:
# open sqlite connection to perform helper queries
import pandas as pd
import sqlite3

conn = sqlite3.connect("../Metrics.sqlite")

## v5.0 Validation
- make sure validateTxStateful recorded for each transaction of the block (should be empty)

In [3]:
pd.read_sql_query(f"""
    -- invalid tx_num
    select b.blockId, t.tx_count as c, b.tx_num as n
    from (select blockId, count(*) as tx_count
          from validateTxStateful
          group by blockId) as t
             join applyTransactions as b on b.blockId = t.blockId
    where c != n;
""", conn)

Empty DataFrame
Columns: [blockId, c, n]
Index: []

- make sure recored block cost = sum of recorded tx costs (should be empty)

In [4]:
pd.read_sql_query(f"""
    -- invalid tx cost
    select b.blockId, t.sum_costs as sum_tx_costs, b.cost as block_cost
    from (select blockId, sum(cost) as sum_costs
          from validateTxStateful
          group by blockId) as t
             join applyTransactions as b on b.blockId = t.blockId
    where sum_tx_costs != block_cost;
""", conn)

Empty DataFrame
Columns: [blockId, sum_tx_costs, block_cost]
Index: []

- now many transactions have negative cost (should be empty)

In [5]:
pd.read_sql_query(f"""
-- count tx with negative cost
select count(*)
from validateTxStateful
where cost < 0;
""", conn)

   count(*)
0         0

## Cross Version validation
- Make sure recorded data for v5 and v4 have the same `height` and `tx_num` for all blockIds

In [6]:
checks = dict(
    appendFullBlockOk=pd.read_sql_query(f"""
        -- validate appendFullBlock tables
        select *
        from appendFullBlock a1
                 join appendFullBlock4 a2 on a1.blockId = a2.blockId
        where a1.height != a2.height
           or a1.tx_num != a2.tx_num;
        """, conn).size == 0,
    applyTransactionsOk=pd.read_sql_query(f"""
        select *
        from applyTransactions a1
                 join applyTransactions4 a2 on a1.blockId = a2.blockId
        where a1.height != a2.height
           or a1.tx_num != a2.tx_num;
        """, conn).size == 0,
    createUtxoStateOk=pd.read_sql_query(f"""
        select *
        from createUtxoState a1
                 join createUtxoState4 a2 on a1.blockId = a2.blockId
        where a1.height != a2.height
           or a1.tx_num != a2.tx_num;
        """, conn).size == 0
)
if not (checks.get("appendFullBlockOk") and checks.get("applyTransactionsOk") and checks.get(
        "createUtxoStateOk")):
    ok = checks
else:
    ok = "ok"
print(ok, checks)

ok {'appendFullBlockOk': True, 'applyTransactionsOk': True, 'createUtxoStateOk': True}


## v5.0 Analysis
### Block Validation Analysis
In this section we compare script validation against block validation times.

#### Sizes of the recorded tables

In [7]:
pd.read_sql_query(f"""
    select * from
    (select count(*) as appendFullBlock
    from appendFullBlock),
    (select count(*) as applyTransactions
    from applyTransactions),
    (select count(*) as createUtxoState
    from createUtxoState),
    (select count(*) as validateTxStateful
    from validateTxStateful),
    (select count(*) as verifyScript
    from verifyScript)
""", conn)

,appendFullBlock,applyTransactions,createUtxoState,validateTxStateful,verifyScript
0,488100,488100,488100,1321800,3823200

#### Comparing Stages of Block Validation
First we look at how much time of the total block validation is spent in applyTransactions.
We group and count blocks by (total time / `applyTransactions` time) ratio.
We see that `applyTransactions` is < 50% for roughly 80% of the blocks.
For more ~40% of the blocks:
1) the ratio is above 3, which means script validation is < 33%
2) further analysis shows that time is spent in creating UtxoState (after applyTransaction)
**Thus, creating UtxoState after application of transactions requires profiling and optimization.**

In [14]:
pd.read_sql_query(f"""
select time_us / t2_us as time_ratio, count(*) as block_count
from (select b1.blockId,
             b1.height,
             b1.tx_num,
             b2.cost,
             b1.time / 1000                       as t1_us,
             b2.time / 1000                       as t2_us,
             b3.time / 1000                       as t3_us,
             (b1.time + b2.time + b3.time) / 1000 as time_us
      from appendFullBlock as b1
               join applyTransactions as b2 on b1.blockId = b2.blockId
               join createUtxoState b3 on b1.blockId = b3.blockId)
group by time_ratio
order by time_ratio;
""", conn)

    time_ratio  block_count
0            1        70293
1            2       155027
2            3       207666
3            4        21667
4            5        20585
5            6         5678
6            7         2472
7            8         1444
8            9         1020
9           10          666
10          11          437
11          12          283
12          13          186
13          14          106
14          15           66
15          16           73
16          17           57
17          18           41
18          19           38
19          20           34
20          21           26
21          22           37
22          23           35
23          24           25
24          25           24
25          26           18
26          27           10
27          28           11
28          29           16
29          30            4
30          31            5
31          32            5
32          33            9
33          34            7
34          35            1
35          36            3
36          37            3
37          38            2
38          39            1
39          40            1
40          42            3
41          44            1
42          47            2
43          49            1
44          51            1
45          52            2
46         132            1
47         139            1
48         166            1
49         208            1
50         215            1
51         229            1
52         292            1
53         327            1

#### Comparing applyTransaction of block with validateTxStateful
Here we further drill down to applyTransactions part of block validation.
Specifically, for each block we compare the time of `UtxoState.applyTransactions` with total time
of `ErgoTransaction.validateStateful` taken for all transactions in the block.
The blocks are grouped by the ratio between times.
We can see that for > 70% blocks the ration is above 2, which suggests that
**`UtxoState.applyTransactions` method need optimizations.**

In [15]:
pd.read_sql_query(f"""
select t.time_ratio / 10 as time_ratio,
       count(*) as block_count,
       round(avg(t.block_time_us), 0)  as avg_block_time_us,
       round(avg(t.tx_time_us), 0) as avg_tx_time_us,
       round(avg(t.tx_count), 1)   as avg_tx_count
from (select b.blockId,
             tx.tx_count,
             b.time / 1000                        as block_time_us,
             tx.sum_tx_time / 1000            as tx_time_us,
             (b.time - tx.sum_tx_time) / 1000 as time_diff_us,
             b.time * 10 / tx.sum_tx_time     as time_ratio
      from (select blockId,
                   sum(time) as sum_tx_time,
                   count(*)  as tx_count
            from validateTxStateful
            group by blockId) as tx
               join applyTransactions as b on b.blockId = tx.blockId) as t
group by t.time_ratio / 10
order by t.time_ratio / 10;
""", conn)

    time_ratio  block_count  avg_block_time_us  avg_tx_time_us  avg_tx_count
0            1       148957            17974.0         15156.0           6.6
1            2       170380             1193.0           425.0           1.0
2            3       167950             1151.0           375.0           1.0
3            4          256             3337.0           749.0           1.3
4            5          138             3965.0           725.0           1.3
..         ...          ...                ...             ...           ...
63          75            1            31507.0           417.0           1.0
64          82            1            32388.0           392.0           1.0
65          83            1            33706.0           404.0           1.0
66          86            1            41055.0           477.0           1.0
67          88            1            31910.0           362.0           1.0

[68 rows x 5 columns]

#### Tx/Script validation time ratio
Further down to validation call stack, we observe how much `validateStateful` time larger than
script verification time.
The ratio is computed for each transaction and then the transactions are grouped by integer ratio.
Comparing times in `verifyScript` and `validateTxStateful` metrics.
We see that for most transactions, `verifyScript` is > 50% of `validateStateful`.

In [18]:
pd.read_sql_query(f"""
select t.time_ratio / 10 as time_ratio,
       count(*) as tx_count,
       round(avg(t.tx_time_us), 1) as avg_tx_time_us,
       round(avg(t.script_time_us), 1) as avg_script_time_us,
       round(avg(t.script_count), 1) as avg_script_count
from (select tx.blockId,
             tx.txId,
             t.script_count,
             tx.time / 1000                   as tx_time_us,
             t.sum_script_time / 1000         as script_time_us,
             tx.time * 10 / t.sum_script_time as time_ratio
      from (select blockId,
                   txId,
                   sum(time) as sum_script_time,
                   count(*)  as script_count
            from verifyScript
            group by blockId, txId) as t
               join validateTxStateful as tx on tx.blockId = t.blockId and tx.txId = t.txId) as t
group by t.time_ratio / 10
order by t.time_ratio / 10;
""", conn)

    time_ratio  tx_count  avg_tx_time_us  avg_script_time_us  avg_script_count
0            1   1321331          1806.3              1765.3               2.9
1            2       154          7181.1              2900.2               6.1
2            3        63         11364.8              3407.0               8.5
3            4        43         14648.4              3341.8               7.6
4            5        24         12482.9              2229.4               4.5
5            6        30         11152.2              1712.3               4.7
6            7        24         22004.2              3038.2               6.2
7            8        14          9936.7              1192.9               3.0
8            9         7         18300.3              1928.6               5.1
9           10        10         10140.6               972.2               4.3
10          11         7         12251.3              1091.3               4.0
11          12         9         66606.8              5249.7              12.3
12          13         6         55290.5              4154.7              12.3
13          14         2         25408.5              1772.5               2.0
14          15         8         21613.8              1401.9               2.9
15          16         3         24489.7              1463.7               3.7
16          17         4          9498.5               547.8               1.3
17          18         5         11864.2               646.8               2.0
18          19         5         14664.4               739.6               1.8
19          20         3         26642.3              1316.7               3.3
20          21         5         10858.8               506.4               1.6
21          22         5         15152.0               675.6               3.0
22          23         5         12719.6               543.8               1.4
23          24         5          8051.6               323.2               1.0
24          26         1         10179.0               377.0               1.0
25          34         2          7845.5               228.0               1.0
26          35         2         27151.5               756.5               4.5
27          37         1         17464.0               464.0               1.0
28          43         1         42704.0               972.0               6.0
29          44         1          6739.0               152.0               1.0
30          48         1         22134.0               460.0               1.0
31          56         1         21106.0               373.0               1.0
32          59         1         29897.0               505.0               1.0
33          60         1          9782.0               160.0               1.0
34          61         1         17317.0               279.0               2.0
35          69         1         25691.0               370.0               1.0
36          72         1         37181.0               509.0               1.0
37          75         1         36907.0               486.0               1.0
38          82         1        116033.0              1410.0               3.0
39          96         1         30594.0               317.0               1.0
40         107         1         34966.0               324.0               1.0
41         129         1        239188.0              1853.0               2.0

We need to further drill down inside the mose populated group.
We build a detailed grouping of the transactions where the ratio <= 1.9,
comparing times in `verifyScript` and `validateTxStateful` metrics.

In [17]:
pd.read_sql_query(f"""
select round(t.time_ratio * 0.1, 1) as time_ratio,
       count(*) as tx_count,
       round(avg(t.tx_time_us), 1) as avg_tx_time_us,
       round(avg(t.script_time_us), 1) as avg_script_time_us,
       round(avg(t.script_count), 1) as avg_script_count
from (select tx.blockId,
             tx.txId,
             t.script_count,
             tx.time / 1000                   as tx_time_us,
             t.sum_script_time / 1000         as script_time_us,
             tx.time * 10 / t.sum_script_time as time_ratio
      from (select blockId,
                   txId,
                   sum(time) as sum_script_time,
                   count(*)  as script_count
            from verifyScript
            group by blockId, txId) as t
               join validateTxStateful as tx on tx.blockId = t.blockId and tx.txId = t.txId) as t
where t.time_ratio <= 19
group by t.time_ratio
order by t.time_ratio;
""", conn)

   time_ratio  tx_count  avg_tx_time_us  avg_script_time_us  avg_script_count
0         1.0   1211507          1934.7              1895.0               3.0
1         1.1    101236           337.2               299.3               1.2
2         1.2      6944           736.0               599.2               1.6
3         1.3       498          2257.4              1673.0               4.4
4         1.4       869           970.4               671.6               2.2
5         1.5       102          4768.1              3073.3               6.2
6         1.6        51          5595.5              3370.3               9.6
7         1.7        44          8933.2              5113.4              10.8
8         1.8        42          6566.0              3518.1               8.1
9         1.9        38          4534.5              2315.4               3.6

Count transactions where script validation <= 80% of `validateStatefull`.
This DOESN'T show big potential for optimizing `validateStateful` outside script evaluation.
Comparing times in `verifyScript` and `validateTxStateful` metrics.

In [12]:
pd.read_sql_query(f"""
select count(*) as tx_count
from (select tx.blockId,
             tx.txId,
             t.script_count,
             tx.time / 1000                   as tx_time_us,
             t.sum_script_time / 1000         as script_time_us,
             tx.time * 10 / t.sum_script_time as time_ratio
      from (select blockId,
                   txId,
                   sum(time) as sum_script_time,
                   count(*)  as script_count
            from verifyScript
            group by blockId, txId) as t
               join validateTxStateful as tx on tx.blockId = t.blockId and tx.txId = t.txId) as t
where t.time_ratio >= 12;
""", conn)

   count(*)
0      9049

Conclusions:
- In most of the cases the time to validate transaction (`validateStateful` method) is dominated by
the script validation time
- There is a few transactions where script validation not greater than 80% of tx validation time.
- The results suggest that `validateStateful` doesn't require optimizations, or at least it can
be done after the other parts of block validation had been optimized.